.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flexslider {
  margin: 0;
  padding: 0;
  background: none;
  position: relative;
  zoom: 1; }
  .flexslider a:active {
    outline: none; }
  .flexslider a:focus {
    outline: none; }
  .flexslider .slides {
    zoom: 1; }
    .flexslider .slides img {
      width: 100%;
      display: block; }
    .flexslider .slides > li {
      display: none; }
  .flexslider:hover .flex-next {
    opacity: 0.8;
    right: 5px; }
    .flexslider:hover .flex-next:hover {
      opacity: 1; }
  .flexslider:hover .flex-prev {
    opacity: 0.8;
    left: 5px; }
    .flexslider:hover .flex-prev:hover {
      opacity: 1; }

.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center; }
  .flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline; }

.flex-direction-nav {
  *height: 0; }
  .flex-direction-nav a {
    width: 30px;
    height: 40px;
    margin: 0;
    display: block;
    background: url(../img/bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 45%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0; }
  .flex-direction-nav .flex-next {
    background-position: 100% 0;
    right: -36px; }
  .flex-direction-nav .flex-prev {
    left: -36px; }
  .flex-direction-nav .flex-disabled {
    opacity: 0.3 !important;
    filter: alpha(opacity=30);
    cursor: default; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
          transition: all 1s ease; }

.flex-caption {
  background: rgba(0, 0, 0, 0.8);
  margin-left: 5px;
  bottom: 5px;
  position: absolute;
  padding: 20px;
  z-index: 99; }
  .flex-caption p {
    font-size: 14px !important;
    line-height: 22px;
    font-weight: 300;
    color: #fff; }
  .flex-caption h2 {
    color: #fff; }
  .flex-caption h4 {
    color: #fff; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }
  .flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0; }
  .flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer; }
    .flex-control-thumbs img:hover {
      opacity: 1; }
  .flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 0; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 0; } }

.flex-container a:active {
  outline: none; }

.flex-container a:focus {
  outline: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

.no-js .slides > li:first-child {
  display: block; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }
  .flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7); }
  .flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImZsZXhzbGlkZXIuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFlVyxPQUFPLEVBQUUsaUJBQWlCLEVBQUUsbUJBQW1CLENBQWhEO0VBQ04sTUFBTSxFQUFFLENBQUU7RUFDVixPQUFPLEVBQUUsQ0FBRTtFQUNYLFVBQVUsRUFBRSxJQUFLLEdBSFY7O0FBTVgsV0FBVyxDQUFDO0VBQ1IsTUFBTSxFQUFFLENBQUU7RUFDVixPQUFPLEVBQUUsQ0FBRTtFQUNYLFVBQVUsRUFBRSxJQUFLO0VBQ2pCLFFBQVEsRUFBRSxRQUFTO0VBQ25CLElBQUksRUFBRSxDQUFFLEdBTEM7RUFPSixXQUFXLENBQUMsQ0FBQyxPQUFPLENBQVo7SUFDTCxPQUFPLEVBQUUsSUFBSyxHQURSO0VBR1QsV0FBVyxDQUFDLENBQUMsTUFBTSxDQUFaO0lBQ0osT0FBTyxFQUFFLElBQUssR0FEVDtFQUliLFdBQVcsQ0FBQyxPQUFPLENBQVg7SUFDSixJQUFJLEVBQUUsQ0FBRSxHQURIO0lBRUwsV0FBVyxDQUFDLE9BQU8sQ0FBQyxHQUFHLENBQW5CO01BQ0EsS0FBSyxFQUFFLElBQUs7TUFDWixPQUFPLEVBQUUsS0FBTSxHQUZkO0lBSUgsV0FBVyxDQUFDLE9BQU8sR0FBRyxFQUFFLENBQXJCO01BQ0QsT0FBTyxFQUFFLElBQUssR0FEWjtFQUtOLFdBQVcsTUFBTSxDQUFDLFVBQVUsQ0FBakI7SUFDUCxPQUFPLEVBQUUsR0FBSTtJQUNiLEtBQUssRUFBRSxHQUFJLEdBRkg7SUFHUCxXQUFXLE1BQU0sQ0FBQyxVQUFVLE1BQU0sQ0FBM0I7TUFDSixPQUFPLEVBQUUsQ0FBRSxHQUROO0VBSWIsV0FBVyxNQUFNLENBQUMsVUFBVSxDQUFqQjtJQUNQLE9BQU8sRUFBRSxHQUFJO0lBQ2IsSUFBSSxFQUFFLEdBQUksR0FGRjtJQUdQLFdBQVcsTUFBTSxDQUFDLFVBQVUsTUFBTSxDQUEzQjtNQUNKLE9BQU8sRUFBRSxDQUFFLEdBRE47O0FBU2hCLE9BQU8sTUFBTSxDQUFOO0VBQ0osT0FBTyxFQUFFLEdBQUk7RUFDYixPQUFPLEVBQUUsS0FBTTtFQUNmLEtBQUssRUFBRSxJQUFLO0VBQ1osVUFBVSxFQUFFLE1BQU87RUFDbkIsV0FBVyxFQUFFLENBQUU7RUFDZixNQUFNLEVBQUUsQ0FBRSxHQU5MOztBQVViLGlCQUFpQixDQUFDO0VBRWQsS0FBSyxFQUFFLElBQUs7RUFDWixRQUFRLEVBQUUsUUFBUztFQUNuQixNQUFNLEVBQUUsQ0FBRTtFQUNWLFVBQVUsRUFBRSxNQUFPLEdBTEo7RUFNZixpQkFBaUIsQ0FBQyxFQUFFLENBQWpCO0lBQ0MsTUFBTSxFQUFFLENBQUMsQ0FBQyxHQUFHO0lBQ2IsT0FBTyxFQUFFLFlBQWE7SUFDdEIsSUFBSSxFQUFFLENBQUU7SUFDUixRQUFRLEVBQUUsTUFBTyxHQUpqQjs7QUFRUixtQkFBbUIsQ0FBQztFQUVoQixPQUFPLEVBQUUsQ0FBRSxHQUZNO0VBR2pCLG1CQUFtQixDQUFDLENBQUMsQ0FBbkI7SUFDRSxLQUFLLEVBQUUsSUFBSztJQUNaLE1BQU0sRUFBRSxJQUFLO0lBQ2IsTUFBTSxFQUFFLENBQUU7SUFDVixPQUFPLEVBQUUsS0FBTTtJQUNmLFVBQVUsRUF0RlYsZ0NBQUcsQ0FzRmdCLFNBQVMsQ0FBQyxDQUFDLENBQUMsQ0FBQztJQUNoQyxRQUFRLEVBQUUsUUFBUztJQUNuQixHQUFHLEVBQUUsR0FBSTtJQUNULE9BQU8sRUFBRSxFQUFHO0lBQ1osTUFBTSxFQUFFLE9BQVE7SUFDaEIsV0FBVyxFQUFFLE9BQVE7SUFDckIsT0FBTyxFQUFFLENBQUUsR0FYWjtFQWFILG1CQUFtQixDQUFDLFVBQVUsQ0FBbkI7SUFDUCxtQkFBbUIsRUFBRSxNQUFPO0lBQzVCLEtBQUssRUFBRSxLQUFNLEdBRkw7RUFJWixtQkFBbUIsQ0FBQyxVQUFVLENBQW5CO0lBQ1AsSUFBSSxFQUFFLEtBQU0sR0FESjtFQUdaLG1CQUFtQixDQUFDLGNBQWMsQ0FBbkI7SUFDWCxPQUFPLEVBQUUsR0FBRSxDQUFBLFVBQVU7SUFDckIsTUFBTSxFQUFFLGlCQUFLO0lBQ2IsTUFBTSxFQUFFLE9BQVEsR0FISjs7QUFPcEIsY0FBYyxDQUFDO0VBQ1gsVUFBVSxFQUFFLE1BQU87RUFFbkIsVUFBVSxFQUFFLEdBQUcsQ0FBQyxFQUFFLENBQUMsSUFBSSxHQUhYOztBQU1oQixhQUFhLENBQUM7RUFDVixVQUFVLEVBN0hILGtCQUFJO0VBOEhYLFdBQVcsRUFBRSxHQUFJO0VBQ2pCLE1BQU0sRUFBRSxHQUFJO0VBQ1osUUFBUSxFQUFFLFFBQVM7RUFDbkIsT0FBTyxFQUFFLElBQUs7RUFDZCxPQUFPLEVBQUUsRUFBRyxHQU5EO0VBT1gsYUFBYSxDQUFDLENBQUMsQ0FBYjtJQUNFLFNBQVMsRUFBRSxlQUFnQjtJQUMzQixXQUFXLEVBQUUsSUFBSztJQUNsQixXQUFXLEVBQUUsR0FBSTtJQUNqQixLQUFLLEVBdElMLElBQUksR0FrSUw7RUFNSCxhQUFhLENBQUMsRUFBRSxDQUFiO0lBQ0MsS0FBSyxFQXpJTCxJQUFJLEdBd0lKO0VBR0osYUFBYSxDQUFDLEVBQUUsQ0FBYjtJQUNDLEtBQUssRUE1SUwsSUFBSSxHQTJJSjs7QUFLUixvQkFBb0IsQ0FBQztFQUNqQixNQUFNLEVBQUUsT0FBUTtFQUNoQixRQUFRLEVBQUUsTUFBTztFQUNqQixRQUFRLEVBQUUsTUFBTyxHQUhDO0VBSWxCLG9CQUFvQixDQUFDLEVBQUUsQ0FBcEI7SUFDQyxLQUFLLEVBQUUsR0FBSTtJQUNYLEtBQUssRUFBRSxJQUFLO0lBQ1osTUFBTSxFQUFFLENBQUUsR0FIVjtFQUtKLG9CQUFvQixDQUFDLEdBQUcsQ0FBcEI7SUFDQSxLQUFLLEVBQUUsSUFBSztJQUNaLE9BQU8sRUFBRSxLQUFNO0lBQ2YsT0FBTyxFQUFFLEVBQUc7SUFDWixNQUFNLEVBQUUsT0FBUSxHQUpmO0lBS0Esb0JBQW9CLENBQUMsR0FBRyxNQUFNLENBQXZCO01BQ0osT0FBTyxFQUFFLENBQUUsR0FETjtFQUliLG9CQUFvQixDQUFDLFlBQVksQ0FBcEI7SUFDVCxPQUFPLEVBQUUsQ0FBRTtJQUNYLE1BQU0sRUFBRSxPQUFRLEdBRk47O0FBTWxCLE1BQU0sQ0FBTixNQUFNLE1BQU0sU0FBUyxFQUFFLEtBQUs7RUFFcEIsbUJBQW1CLENBQUMsVUFBVSxDQUFuQjtJQUNQLE9BQU8sRUFBRSxDQUFFO0lBQ1gsSUFBSSxFQUFFLENBQUUsR0FGQTtFQUlaLG1CQUFtQixDQUFDLFVBQVUsQ0FBbkI7SUFDUCxPQUFPLEVBQUUsQ0FBRTtJQUNYLEtBQUssRUFBRSxDQUFFLEdBRkQ7O0FBUWYsZUFBZSxDQUFDLENBQUMsT0FBTyxDQUFoQjtFQUNMLE9BQU8sRUFBRSxJQUFLLEdBRFI7O0FBR1QsZUFBZSxDQUFDLENBQUMsTUFBTSxDQUFoQjtFQUNKLE9BQU8sRUFBRSxJQUFLLEdBRFQ7O0FBS0csZUFBZSxDQUFDLElBQUksQ0FBZjtFQUNqQixjQUFjLEVBQUUsVUFBVyxHQURUOztBQUlWLElBQUksQ0FBQSxLQUFDLEVBQU8sT0FBTyxDQUFYO0VBQ2hCLE9BQU8sRUFBRSxLQUFNLEdBREU7O0FBSWQsQ0FBQyxDQUFDLElBQUksQ0FBQyxPQUFPLENBQU47RUFDWCxNQUFNLEVBQUUsRUFBRyxHQURDOztBQUlHLE1BQU0sQ0FBQyxPQUFPLEdBQUcsRUFBRSxZQUFZLENBQWxCO0VBQzVCLE9BQU8sRUFBRSxLQUFNLEdBRGM7O0FBSXhCLFFBQVEsQ0FBQyxjQUFjLENBQVI7RUFDcEIsVUFBVSxFQUFFLEtBQU0sR0FERzs7QUFJZixTQUFTLENBQUMsRUFBRSxDQUFUO0VBQ1QsWUFBWSxFQUFFLEdBQUksR0FEUjs7QUFJVSxvQkFBb0IsQ0FBQyxFQUFFLENBQUMsQ0FBQyxDQUF2QjtFQUN0QixLQUFLLEVBQUUsSUFBSztFQUNaLE1BQU0sRUFBRSxJQUFLO0VBQ2IsT0FBTyxFQUFFLEtBQU07RUFDZixVQUFVLEVBek5ZLElBQUk7RUEwTjFCLFVBQVUsRUF6Tkgsa0JBQUk7RUEwTlgsTUFBTSxFQUFFLE9BQVE7RUFDaEIsV0FBVyxFQUFFLE9BQVE7RUFFckIsYUFBYSxFQUFFLElBQUs7RUFFcEIsVUFBVSxFQUFFLEtBQUssQ0FBQyxDQUFDLENBQUMsQ0FBQyxDQUFDLEdBQUcsQ0E5TmxCLGtCQUFJLEdBbU5ZO0VBWXRCLG9CQUFvQixDQUFDLEVBQUUsQ0FBQyxDQUFDLE1BQU0sQ0FBeEI7SUFDSixVQUFVLEVBL05RLElBQUk7SUFnT3RCLFVBQVUsRUEvTlAsa0JBQUksR0E2TkY7RUFJUixvQkFBb0IsQ0FBQyxFQUFFLENBQUMsQ0FBQyxZQUFZLENBQXhCO0lBQ1YsVUFBVSxFQWpPVixJQUFJO0lBa09KLFVBQVUsRUFqT1Asa0JBQUk7SUFrT1AsTUFBTSxFQUFFLE9BQVEsR0FITCIsImZpbGUiOiJmbGV4c2xpZGVyLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi8vY29sb3JzXG4kYmxhY2tfODA6IHJnYmEoMCwgMCwgMCwgLjgpO1xuJHdoaXRlOiAjZmZmO1xuJGNvbG9yX3N0b3JtX2R1c3RfYXBwcm94OiAjNjY2O1xuJGJsYWNrXzUwOiByZ2JhKDAsIDAsIDAsIDAuNSk7XG4kYmxhY2tfMzA6IHJnYmEoMCwgMCwgMCwgMC4zKTtcbiRjb2xvcl9taW5lX3NoYWZ0X2FwcHJveDogIzMzMztcbiRibGFja183MDogcmdiYSgwLCAwLCAwLCAwLjcpO1xuJGJsYWNrOiAjMDAwO1xuJGJsYWNrXzkwOiByZ2JhKDAsIDAsIDAsIDAuOSk7XG4vL3VybHNcbiR1cmxfMDogdXJsKC4uL2ltZy9iZ19kaXJlY3Rpb25fbmF2LnBuZyk7XG4vL0BleHRlbmQtZWxlbWVudHNcbi8vb3JpZ2luYWwgc2VsZWN0b3JzXG4vLy5zbGlkZXMsIC5mbGV4LWNvbnRyb2wtbmF2LCAuZmxleC1kaXJlY3Rpb24tbmF2XG4lZXh0ZW5kXzEge1xuICAgIG1hcmdpbjogMDtcbiAgICBwYWRkaW5nOiAwO1xuICAgIGxpc3Qtc3R5bGU6IG5vbmU7XG59XG5cbi5mbGV4c2xpZGVyIHtcbiAgICBtYXJnaW46IDA7XG4gICAgcGFkZGluZzogMDtcbiAgICBiYWNrZ3JvdW5kOiBub25lO1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICB6b29tOiAxO1xuICAgIGEge1xuICAgICAgICAmOmFjdGl2ZSB7XG4gICAgICAgICAgICBvdXRsaW5lOiBub25lO1xuICAgICAgICB9XG4gICAgICAgICY6Zm9jdXMge1xuICAgICAgICAgICAgb3V0bGluZTogbm9uZTtcbiAgICAgICAgfVxuICAgIH1cbiAgICAuc2xpZGVzIHtcbiAgICAgICAgem9vbTogMTtcbiAgICAgICAgaW1nIHtcbiAgICAgICAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgICAgICAgZGlzcGxheTogYmxvY2s7XG4gICAgICAgIH1cbiAgICAgICAgPiBsaSB7XG4gICAgICAgICAgICBkaXNwbGF5OiBub25lO1xuICAgICAgICB9XG4gICAgfVxuICAgICY6aG92ZXIge1xuICAgICAgICAuZmxleC1uZXh0IHtcbiAgICAgICAgICAgIG9wYWNpdHk6IDAuODtcbiAgICAgICAgICAgIHJpZ2h0OiA1cHg7XG4gICAgICAgICAgICAmOmhvdmVyIHtcbiAgICAgICAgICAgICAgICBvcGFjaXR5OiAxO1xuICAgICAgICAgICAgfVxuICAgICAgICB9XG4gICAgICAgIC5mbGV4LXByZXYge1xuICAgICAgICAgICAgb3BhY2l0eTogMC44O1xuICAgICAgICAgICAgbGVmdDogNXB4O1xuICAgICAgICAgICAgJjpob3ZlciB7XG4gICAgICAgICAgICAgICAgb3BhY2l0eTogMTtcbiAgICAgICAgICAgIH1cbiAgICAgICAgfVxuICAgIH1cbn1cblxuLnNsaWRlcyB7XG4gICAgQGV4dGVuZCAlZXh0ZW5kXzE7XG4gICAgJjphZnRlciB7XG4gICAgICAgIGNvbnRlbnQ6IFwiLlwiO1xuICAgICAgICBkaXNwbGF5OiBibG9jaztcbiAgICAgICAgY2xlYXI6IGJvdGg7XG4gICAgICAgIHZpc2liaWxpdHk6IGhpZGRlbjtcbiAgICAgICAgbGluZS1oZWlnaHQ6IDA7XG4gICAgICAgIGhlaWdodDogMDtcbiAgICB9XG59XG5cbi5mbGV4LWNvbnRyb2wtbmF2IHtcbiAgICBAZXh0ZW5kICVleHRlbmRfMTtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgYm90dG9tOiAwO1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICBsaSB7XG4gICAgICAgIG1hcmdpbjogMCA2cHg7XG4gICAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgICAgICAgem9vbTogMTtcbiAgICAgICAgKmRpc3BsYXk6IGlubGluZTtcbiAgICB9XG59XG5cbi5mbGV4LWRpcmVjdGlvbi1uYXYge1xuICAgIEBleHRlbmQgJWV4dGVuZF8xO1xuICAgICpoZWlnaHQ6IDA7XG4gICAgYSB7XG4gICAgICAgIHdpZHRoOiAzMHB4O1xuICAgICAgICBoZWlnaHQ6IDQwcHg7XG4gICAgICAgIG1hcmdpbjogMDtcbiAgICAgICAgZGlzcGxheTogYmxvY2s7XG4gICAgICAgIGJhY2tncm91bmQ6ICR1cmxfMCBuby1yZXBlYXQgMCAwO1xuICAgICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgICAgIHRvcDogNDUlO1xuICAgICAgICB6LWluZGV4OiAxMDtcbiAgICAgICAgY3Vyc29yOiBwb2ludGVyO1xuICAgICAgICB0ZXh0LWluZGVudDogLTk5OTlweDtcbiAgICAgICAgb3BhY2l0eTogMDtcbiAgICB9XG4gICAgLmZsZXgtbmV4dCB7XG4gICAgICAgIGJhY2tncm91bmQtcG9zaXRpb246IDEwMCUgMDtcbiAgICAgICAgcmlnaHQ6IC0zNnB4O1xuICAgIH1cbiAgICAuZmxleC1wcmV2IHtcbiAgICAgICAgbGVmdDogLTM2cHg7XG4gICAgfVxuICAgIC5mbGV4LWRpc2FibGVkIHtcbiAgICAgICAgb3BhY2l0eTogLjMhaW1wb3J0YW50O1xuICAgICAgICBmaWx0ZXI6IGFscGhhKG9wYWNpdHk9MzApO1xuICAgICAgICBjdXJzb3I6IGRlZmF1bHQ7XG4gICAgfVxufVxuXG4uZmxleC12aWV3cG9ydCB7XG4gICAgbWF4LWhlaWdodDogMjAwMHB4O1xuICAgIC8vSW5zdGVhZCBvZiB0aGUgbGluZSBiZWxvdyB5b3UgY291bGQgdXNlIEBpbmNsdWRlIHRyYW5zaXRpb24oJHRyYW5zaXRpb24tMSwgJHRyYW5zaXRpb24tMiwgJHRyYW5zaXRpb24tMywgJHRyYW5zaXRpb24tNCwgJHRyYW5zaXRpb24tNSwgJHRyYW5zaXRpb24tNiwgJHRyYW5zaXRpb24tNywgJHRyYW5zaXRpb24tOCwgJHRyYW5zaXRpb24tOSwgJHRyYW5zaXRpb24tMTApXG4gICAgdHJhbnNpdGlvbjogYWxsIDFzIGVhc2U7XG59XG5cbi5mbGV4LWNhcHRpb24ge1xuICAgIGJhY2tncm91bmQ6ICRibGFja184MDtcbiAgICBtYXJnaW4tbGVmdDogNXB4O1xuICAgIGJvdHRvbTogNXB4O1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICBwYWRkaW5nOiAyMHB4O1xuICAgIHotaW5kZXg6IDk5O1xuICAgIHAge1xuICAgICAgICBmb250LXNpemU6IDE0cHggIWltcG9ydGFudDtcbiAgICAgICAgbGluZS1oZWlnaHQ6IDIycHg7XG4gICAgICAgIGZvbnQtd2VpZ2h0OiAzMDA7XG4gICAgICAgIGNvbG9yOiAkd2hpdGU7XG4gICAgfVxuICAgIGgyIHtcbiAgICAgICAgY29sb3I6ICR3aGl0ZTtcbiAgICB9XG4gICAgaDQge1xuICAgICAgICBjb2xvcjogJHdoaXRlO1xuICAgIH1cbn1cblxuLmZsZXgtY29udHJvbC10aHVtYnMge1xuICAgIG1hcmdpbjogNXB4IDAgMDtcbiAgICBwb3NpdGlvbjogc3RhdGljO1xuICAgIG92ZXJmbG93OiBoaWRkZW47XG4gICAgbGkge1xuICAgICAgICB3aWR0aDogMjUlO1xuICAgICAgICBmbG9hdDogbGVmdDtcbiAgICAgICAgbWFyZ2luOiAwO1xuICAgIH1cbiAgICBpbWcge1xuICAgICAgICB3aWR0aDogMTAwJTtcbiAgICAgICAgZGlzcGxheTogYmxvY2s7XG4gICAgICAgIG9wYWNpdHk6IC43O1xuICAgICAgICBjdXJzb3I6IHBvaW50ZXI7XG4gICAgICAgICY6aG92ZXIge1xuICAgICAgICAgICAgb3BhY2l0eTogMTtcbiAgICAgICAgfVxuICAgIH1cbiAgICAuZmxleC1hY3RpdmUge1xuICAgICAgICBvcGFjaXR5OiAxO1xuICAgICAgICBjdXJzb3I6IGRlZmF1bHQ7XG4gICAgfVxufVxuXG5AbWVkaWEgc2NyZWVuIGFuZChtYXgtd2lkdGg6IDg2MHB4KSB7XG4gICAgLmZsZXgtZGlyZWN0aW9uLW5hdiB7XG4gICAgICAgIC5mbGV4LXByZXYge1xuICAgICAgICAgICAgb3BhY2l0eTogMTtcbiAgICAgICAgICAgIGxlZnQ6IDA7XG4gICAgICAgIH1cbiAgICAgICAgLmZsZXgtbmV4dCB7XG4gICAgICAgICAgICBvcGFjaXR5OiAxO1xuICAgICAgICAgICAgcmlnaHQ6IDA7XG4gICAgICAgIH1cbiAgICB9XG59XG5cbi5mbGV4LWNvbnRhaW5lciBhIHtcbiAgICAmOmFjdGl2ZSB7XG4gICAgICAgIG91dGxpbmU6IG5vbmU7XG4gICAgfVxuICAgICY6Zm9jdXMge1xuICAgICAgICBvdXRsaW5lOiBub25lO1xuICAgIH1cbn1cblxuLmZsZXgtcGF1c2VwbGF5IHNwYW4ge1xuICAgIHRleHQtdHJhbnNmb3JtOiBjYXBpdGFsaXplO1xufVxuXG5odG1sW3htbG5zXSAuc2xpZGVzIHtcbiAgICBkaXNwbGF5OiBibG9jaztcbn1cblxuKiBodG1sIC5zbGlkZXMge1xuICAgIGhlaWdodDogMSU7XG59XG5cbi5uby1qcyAuc2xpZGVzID4gbGk6Zmlyc3QtY2hpbGQge1xuICAgIGRpc3BsYXk6IGJsb2NrO1xufVxuXG4ubG9hZGluZyAuZmxleC12aWV3cG9ydCB7XG4gICAgbWF4LWhlaWdodDogMzAwcHg7XG59XG5cbi5jYXJvdXNlbCBsaSB7XG4gICAgbWFyZ2luLXJpZ2h0OiA1cHg7XG59XG5cbi5mbGV4LWNvbnRyb2wtcGFnaW5nIGxpIGEge1xuICAgIHdpZHRoOiAxMXB4O1xuICAgIGhlaWdodDogMTFweDtcbiAgICBkaXNwbGF5OiBibG9jaztcbiAgICBiYWNrZ3JvdW5kOiAkY29sb3Jfc3Rvcm1fZHVzdF9hcHByb3g7XG4gICAgYmFja2dyb3VuZDogJGJsYWNrXzUwO1xuICAgIGN1cnNvcjogcG9pbnRlcjtcbiAgICB0ZXh0LWluZGVudDogLTk5OTlweDtcbiAgICAvL0luc3RlYWQgb2YgdGhlIGxpbmUgYmVsb3cgeW91IGNvdWxkIHVzZSBAaW5jbHVkZSBib3JkZXItcmFkaXVzKCRyYWRpdXMsICR2ZXJ0aWNhbC1yYWRpdXMpXG4gICAgYm9yZGVyLXJhZGl1czogMjBweDtcbiAgICAvL0luc3RlYWQgb2YgdGhlIGxpbmUgYmVsb3cgeW91IGNvdWxkIHVzZSBAaW5jbHVkZSBib3gtc2hhZG93KCRzaGFkb3ctMSwgJHNoYWRvdy0yLCAkc2hhZG93LTMsICRzaGFkb3ctNCwgJHNoYWRvdy01LCAkc2hhZG93LTYsICRzaGFkb3ctNywgJHNoYWRvdy04LCAkc2hhZG93LTksICRzaGFkb3ctMTApXG4gICAgYm94LXNoYWRvdzogaW5zZXQgMCAwIDNweCAkYmxhY2tfMzA7XG4gICAgJjpob3ZlciB7XG4gICAgICAgIGJhY2tncm91bmQ6ICRjb2xvcl9taW5lX3NoYWZ0X2FwcHJveDtcbiAgICAgICAgYmFja2dyb3VuZDogJGJsYWNrXzcwO1xuICAgIH1cbiAgICAmLmZsZXgtYWN0aXZlIHtcbiAgICAgICAgYmFja2dyb3VuZDogJGJsYWNrO1xuICAgICAgICBiYWNrZ3JvdW5kOiAkYmxhY2tfOTA7XG4gICAgICAgIGN1cnNvcjogZGVmYXVsdDtcbiAgICB9XG59XG4iXSwic291cmNlUm9vdCI6Ii9zb3VyY2UvIn0= */