<div class="container">
    <article ng-init="getZhihuuser()" id="User">
        <div class="row">
            <div class="col-xs-3 u-detail" ng-repeat="i in Zhihuuser">
                <div class="u-extend" style="display:none">
                    <i class="fa fa-briefcase"></i>&nbsp;{{i.bussiness}} &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-eye"></i>&nbsp;{{i.see}}
                    <br/>
                    <br/>关注了&nbsp;{{i.focus}}&nbsp;人&nbsp;&nbsp;&nbsp;被&nbsp;{{i.follow}}人关注
                    <br/>关注了&nbsp;{{i.focusTopics}}&nbsp;个话题
                </div>
                <a class="u-avatar" href='{{i.home}}' target="_blank"><img ng-src="{{i.avatar}}" alt="" error='/img/avatar.png'></a>
                <div class="u-info">
                    <a class='u-name' href='{{i.home}}' target="_blank">{{i.name}}</a>&nbsp;<i class='fa pull-right' ng-class="{'fa-mars':i.sex,'fa-venus':!i.sex}"></i>
                    <br/>
                    <i class="fa fa-map-marker"></i>&nbsp;&nbsp;<i title="居住地">{{i.location}}</i>
                    <br/>
                    <i class="fa fa-link"></i>&nbsp;&nbsp;
                    <a href="{{i.weibo}}" class="u-weibo" ng-if="!!i.weibo" target="_blank"> <i class="fa fa-weibo"></i></a>
                    <br/>
                    <i class="fa fa-thumbs-up"></i>&nbsp;<i title="赞同数">{{i.agree}}</i>&nbsp;&nbsp;
                    <i class="fa fa-heart"></i>&nbsp;<i title="感谢数">{{i.thanks}}</i>
                    <br/>
                    <span class='i-bio' title="{{i.bio}}">{{i.bio}}</span>
                </div>
            </div>
        </div>
    </article>
    <label id="loading" class="label label-success col-sm-offset-5">{{ none ? '没有更多了':'正在加载'}}<i class='fa fa-spinner fa-pulse' ng-if='!none'></i></label>
</div>
