<div class="container">
    <div class="row">
        <div class="col-lg-12" id="blog" ui-view>
            <div class="widget" ng-init="getZhihu()">
                <ul class="tags tags2">
                    <li><a href="javascipt:void(0)" class="active" ng-click="getBlog('new')">最新</a></li>
                    <li><a href="javascipt:void(0)" ng-click="getBlog('hot');change(this)">热门</a></li>
                    <li ng-repeat="i in Tag"><a href='javascipt:void(0)' ng-click="getBlog(i.id)">{{i.name}}</a></li>
                </ul>
            </div>
            <article class="article clearfix article-{{i.id}}" ng-repeat="i in Zhihu">
                <div class="left col-sm-2">
                    <a href="{{i.user.home}}"><img ng-src="{{i.user.sAvatar | zhihuavatar}}" alt="" error='/img/avatar.png'></a>
                </div>
                <div class="right col-sm-8 article-right-{{i.id}}">
                    <p>
                        <a href="{{i.user.home}}">{{i.user.name}}</a>&nbsp;&nbsp;.&nbsp;&nbsp;<span class="text-grey">{{i.answerTime | date:'yyyy-MM-dd'}}</span>
                    </p>
                    <div class="col-sm-12">
                        <h4><a href="{{i.question.url}}" class="text-dark">{{i.question.name}}</a></h4>
                        <blockquote ng-bind-html="i.answer">
                        </blockquote>
                    </div>
                    <div class="bottom col-sm-12">
                        <div class="tags col-sm-5 "></div>
                        <a class="text-grey" ng-click="toggle('.like-'+i.id)">热度(<span>{{i.count}}</span>)</a>
                    </div>
                </div>
            </article>
            <label id="loading" class="label label-success col-sm-offset-5">{{ none ? '没有更多了':'正在加载'}}<i class='fa fa-spinner fa-pulse' ng-if='!none'></i></label>
        </div>
    </div>
</div>
