<!DOCTYPE html>
<html ng-app="global">

<head>
    <meta charset="utf-8">
    <title>Youths,活力web倡导者</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Youths,活力web倡导者，南京youths网络科技有限公司" />
    <meta name="keywords" content="Youths,活力web倡导者，网页设计、平面设计、网站建站、网站代挂、尔雅通识、尔雅通识题库、尔雅通识题库在线查询、尔雅一键答题器、Youths SNS寻找志同道合的年青人、Youths SNS 社区、Youths 社区" />
    <link href="/img/Youths.ico" rel="shortcut icon" />
    <!-- import css -->
    <!-- css -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/bower_components/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
    <link href='/bower_components/textAngular/dist/textAngular.css' rel='stylesheet' />
    <link href='/plugin/lobibox/css/lobibox.css' rel="stylesheet" />
    <link href="/plugin/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="/plugin/flexslider/flexslider.css" rel="stylesheet" />
    <link href="/styles/css/style.css" rel="stylesheet" />
    <!-- Theme skin -->
    <link href="/styles/css/default.css" rel="stylesheet" />
</head>

<body ng-controller="mainCtrl">
    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><span>Y</span>ouths</a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#/">首页</a></li>
                            <li>
                                <a href="#/service/itnav">任意门</a>
                            </li>
                            <!-- <li><a href="#/home/portfolio">投资组合</a></li> -->
                            <li><a href="#/home/blog">博客</a></li>
                            <!--                             <li><a href="#/home/contact">联系我们</a></li>
 -->
                            <li ng-if='currentUser == null'><a href="#/register">注册</a></li>
                            <li ng-if='currentUser == null'><a href="#/login">登录</a></li>
                            <li ng-if='currentUser != null'><a href="" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">{{currentUser.email}}<b class=" icon-angle-down"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="logout()">登出</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li class="active">{{current}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container">
                <div class="row" ng-view>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">Youths站群</h5>
                            <ul class="link-list">
                                <li>正在更新中</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">微信公众平台</h5>
                            <div class="flickr_badge">
                            </div>
                            <img src="/img/weixin.jpg" class="weixin" />
                            <div class="clear">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">新浪微博</h5>
                            <div class="flickr_badge">
                            </div>
                            <img src="/img/weibo.png" class="weixin" />
                            <div class="clear">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="widget">
                            <h5 class="widgetheading">支付宝捐助</h5>
                            <img src="/img/zhi.png" class="weixin" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="copyright">
                                <p>
                                    <span>&copy;2014 Youths网络科技</span>
                                    <!-- <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1253446574'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s6.cnzz.com/z_stat.php%3Fid%3D1253446574%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));</script> -->
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <ul class="social-network">
                                <li><a href="#" data-placement="top" title="Email:sunxiao53283713@gmail.com"><i class="fa fa-info"></i></a></li>
                                <li><a href="https://github.com/TNT-Likely" data-placement="top" title="github"><i class="fa fa-github"></i></a></li>
                                <!-- @*<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>*@ -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- importjs -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/plugin/jquery.easing.1.3.js"></script>
    <script src="/plugin/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/plugin/fancybox/jquery.fancybox-media.js"></script>
    <script src="/plugin/google-code-prettify/prettify.js"></script>
    <script src="/plugin/portfolio/jquery.quicksand.js"></script>
    <script src="/plugin/portfolio/setting.js"></script>
    <script src="/plugin/flexslider/jquery.flexslider.js"></script>
    <script src="/plugin/animate.js"></script>
    <script src="/plugin/custom.js"></script>
    <script src="/plugin/lobibox/js/notifications.js"></script>
    <!-- build:js js/bower.min.js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src='/bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='/bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='/bower_components/textAngular/dist/textAngular.min.js'></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/socket.io-client/socket.io.js"></script>
    <script src="/bower_components/angular-auto-validate/dist/jcs-auto-validate.js"></script>
    <script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="/bower_components/angular-cookie/angular-cookie.js"></script>
    <!-- endbuild -->
    <!-- build:js js/angular.min.js -->
    <!-- angular entrance -->
    <script src="/js/app.js"></script>
    <!-- directive -->
    <script src="/js/directive/ui.js"></script>
    <!-- controller  -->
    <script src="/js/controller/home/main.js"></script>
    <script src="/js/controller/home/blog.js"></script>
    <script src="/js/controller/home/blogDetail.js"></script>
    <script src="/js/controller/service/itNav.js"></script>
    <!-- service -->
    <script src="/js/services/lb-services.js"></script>
    <script src="/js/services/auth.js"></script>
    <script src="/js/services/socket.js"></script>
    <!-- endbuild -->
    <ui></ui>
</body>

</html>
