<div class="col-lg-8">
    <article>
        <div class="post-image">
            <div class="post-heading">
                <h3><a href="#">{{blog.title}}</a></h3>
                <hr/> 
                <div ng-bind-html="blog.content"></div>
            </div>
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="{{blog.id}}" data-title="{{blog.title}}" data-url="#/home/blogDetail/{{blog.id}}"></div>
            <!-- 多说评论框 end -->
           
        </div>
    </article>
</div>
<blog-slider></blog-slider>