<div class="container">
    <add-blog></add-blog>
    <div class="row">
        <div class="col-lg-8">
            <article ng-repeat="i in Blog">
                <div class="post-quote">
                    <div class="post-heading">
                        <h3><a href="#/home/blogDetail/{{i.id}}">{{i.title}}</a></h3>
                    </div>
                    <blockquote ng-bind-html="i.content | htmlToPlaintext:50">
                        <i class="icon-quote-left"></i>
                    </blockquote>
                </div>
                <div class="bottom-article">
                    <ul class="meta-post">
                        <li><i class="icon-calendar"></i>{{i.created | date:'medium'}}</li>
                        <li><i class="icon-user"></i>{{!!i.user.username ? i.user.username:i.user.email}}</li>
                        <li><i class="icon-folder-open"></i><a href="javascipt:void(0)">{{i.blogType.name}}</a></li>
                        <li><i class="icon-comments"></i><a href="javascipt:void(0)">{{i.comments.length}}评论</a></li>
                    </ul>
                    <a href="#/home/blogDetail/{{i.id}}" class="pull-right">继续阅读<i class="icon-angle-right"></i></a>
                </div>
            </article>
            <div id="pagination">
                <span class="all">页数 1 / 3</span>
                <span class="current">1</span>
                <a href="#" class="inactive">2</a>
                <a href="#" class="inactive">3</a>
            </div>
        </div>
        <blog-slider></blog-slider>
    </div>
</div>
