<section id="content">
    <div class="map">
        <iframe src="/views/Map.html"></iframe>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <h4>请填写下列信息 <strong>与我们联系</strong></h4>
                <form id="contactform"class="validateform" action="/home/contact" method="post" name="send-contact">
                    <div id="sendmessage">
                        你的留言已发送成功，谢谢！
                    </div>
                    <div class="row">
                        <div class="col-lg-4 field">
                            <input type="text" name="M_U_Name" placeholder="* Enter your full name" data-rule="maxlen:4" data-msg="请输入至少四个字符" />
                            <div class="validation">
                            </div>
                        </div>
                        <div class="col-lg-4 field">
                            <input type="text" name="M_U_Email" placeholder="* Enter your email address" data-rule="email" data-msg="请输入一个有效的邮箱" />
                            <div class="validation">
                            </div>
                        </div>
                        <div class="col-lg-4 field">
                            <input type="text" name="M_Subject" placeholder="Enter your subject" data-rule="maxlen:4" data-msg="请输入至少四个字符" />
                            <div class="validation">
                            </div>
                        </div>
                        <div class="col-lg-12 margintop10 field">
                            <textarea rows="12" name="M_Content" class="input-block-level" placeholder="* Your message here..." data-rule="required" data-msg="请填写信息"></textarea>
                            <div class="validation">
                            </div>
                            <p>
                                <button class="btn btn-theme margintop10 pull-left" type="submit">提交留言</button>
                                <span class="pull-right margintop20">* 请填写所需的表单字段，谢谢!</span>
                            </p>
                        </div>
                    </div>
                </form> -->
                <!-- 多说评论框 start -->
                <div class="ds-thread" data-thread-key="1000" data-title="联系我们" data-url="http://youths.cc/home/contact"></div>
                <!-- 多说评论框 end -->
                <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                <script type="text/javascript">
                var duoshuoQuery = {short_name:"youths"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0] 
                         || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                    </script>
                <!-- 多说公共JS代码 end -->
            </div>
        </div>
    </div>
</section>