{% extends "../layout.html" %} 

{% block body %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="~/Home/Index"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">招聘</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <div class="widget">
                        <h5 class="widgetheading">销售代表</h5>
                        <h6>岗位描述</h6>
                        <p>从事企业管理软件（eHR，SCM，MES, BPM,ITS,ITO）的区域销售，根据行业类别，提供项目解决方案，并负责用户项目的发现、跟踪、商务洽谈、合同签订及区域销售目标的达成 </p>
                        <h6>岗位要求</h6>
                        <ol>
                            <li>大专及其以上学历，1年以上软件销售工作经验；</li>
                            <li>对销售工作有强烈的兴趣和自信心，积极进取，勇于挑战压力，创造价值；</li>
                            <li>良好的沟通及语言表达能力，普通话标准；</li>
                            <li>较强的观察力和应变能力，熟悉市场上相关的管理软件；</li>
                            <li>具有IT行业项目及应用软件销售业绩良好者优先。</li>
                        </ol>
                        <h6>请将您的简历发送至Email:sunxiao53283713@gamil.com</h6>
                    </div>
                    <hr />
                    <div class="widget">
                        <h5 class="widgetheading">美工/设计</h5>
                        <h6>岗位描述</h6>
                        <p>从事软件、网站及品牌项目的视觉风格设计及后期跟进；</p>
                        <h6>岗位要求</h6>
                        <ol>
                            <li>美术、设计相关专业本科三年级学生；</li>
                            <li>有相关行业经验或是实习经验者优先；</li>
                            <li>富于创新、思维灵活，并对先进的设计理念和技术有较强的理解能力；</li>
                            <li>有一定的设计理论知识和对流行趋势敏锐的洞察力；</li>
                            <li>能够熟练使用Photoshop、Flash、Illustrator等软件；</li>
                            <li>良好的沟通能力和团队协作精神，能承受高强度的工作压力</li>
                        </ol>
                        <H6>请将您的简历发送至Email:sunxiao53283713@gamil.com</H6>
                    </div>
                    <hr/>
                    <div class="widget">
                        <h5 class="widgetheading">Web前端</h5>
                        <h6>岗位描述</h6>
                        <p>负责与开发人员配合完成Web前端页面开发、移动平台的webapp开发、功能实现与后期维护。积极配合UI设计师和产品策划人员研究并改善用户体验, 根据需求，分析并给出最优的前台技术实现方案。</p>
                        <h6>岗位要求</h6>
                        <ol>
                            <li>精通Web程序开发，熟练使用Html5、Css3、JavaScript、Ajax等前端开发技术。</li>
                            <li>至少熟练使用下列其中一种框架：ExtJS、SenchaTouch、jQuery、jQueryMobile。</li>
                            <li>熟悉HTML5特性，了解HTML5最新规范，能够熟练运用HTML5特性构建移动端的WebApp，了解响应式开发。</li>
                            <li>熟悉移动端主流浏览器的适配，深刻理解并解决手机平台上各主流浏览器之间的兼容性问题。</li>
                            <li>有iphone、ipad、android等智能手机和平板跨平台开发经验者优先。</li>
                            <li>有大型网站前端开发经验者优先。</li>
                            <li>具备良好的服务意识、责任心、较强的学习能力、优秀的团队沟通与协作能力、能承受一定的工作压力。</li>
                        </ol>
                        <h6>请将您的简历发送至Email:sunxiao53283713@gamil.com</h6>
                    </div>
                    <hr />
                    <div class="widget">
                        <h5 class="widgetheading">Asp.net程序员</h5>
                        <h6>岗位描述</h6>
                        <p>分析理解需求文档，进行功能设计和编码,负责软件产品前台页面的搭建、开发、测试交付,配合上级主管快速实现整体开发计划</p>
                        <h6>岗位要求</h6>
                        <ol>
                            <li>熟悉.NET框架、ASP.NET，有具体项目开发、实施经验（工作从毕业开始至少1年不符勿扰）；</li>
                            <li>具备.NET框架下多层应用程序开发经验，精通MVC框架。</li>
                            <li>熟练使用SQL Server 2008；</li>
                            <li>熟悉HTML、CSS、JavaScript等网页制作相关知识;</li>
                            <li>具有良好的敬业精神和协作精神，工作踏实、责任心强，具有良好的沟通能力及团队合作精神</li>
                        </ol>
                        <h6>请将您的简历发送至Email:sunxiao53283713@gamil.com</h6>
                    </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}