<div class="modal fade" id="forgetPassword">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">忘记密码</h4>
            </div>
            <div class="modal-body">
                <form name="form.reset" class="form-horizontal" novalidate="novalidate" ng-submit="forgetPassword()">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label col-sm-3">邮箱:</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" ng-model="email" required>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-green btn-submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="loginRegister">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <form name="form.register" class="form-horizontal" novalidate="novalidate" ng-submit="register()">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label col-sm-3">邮箱:</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" ng-model="userR.email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label col-sm-3 ">密码:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" ng-model="userR.password" ng-minlength="6" ng-maxlength="16" required>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-green btn-submit">注册</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form name="form.login" class="form-horizontal" novalidate="novalidate" ng-submit="login()">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label col-sm-3">邮箱:</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" ng-model="userL.email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="control-label col-sm-3 ">密码:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" ng-model="userL.password" ng-minlength="6" ng-maxlength="16" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-3">
                                    <a ng-click="showModal('#forgetPassword')">忘记密码</a>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-green btn-submit">登录</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
