<div class="container emptyPage">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
      <form name="form.change" class="form-horizontal" novalidate="novalidate" ng-submit="change()">
        <div class="form-group">
          <label for="recipient-name" class="control-label col-md-2 ">新密码:</label>
          <div class="col-md-10">
            <input type="password" class="form-control" placeholder="6至16位字符" ng-model="userC.password" ng-minlength="6" ng-maxlength="16" required>
          </div>
        </div>
        <div class="form-group">
          <label for="recipient-name" class="control-label col-md-2 ">确认密码:</label>
          <div class="col-md-10">
            <input type="password" class="form-control" placeholder="6至16位字符" ng-model="userC.confirmPassword" ng-minlength="6" ng-maxlength="16" required>
          </div>
        </div>
        <div class="form-group text-center">
          <button class="btn btn-primary btn-submit">修改密码
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
