<ul ng-init="getMyBlog()" class="list-unstyled list">
    <li ng-repeat="i in myBlog">
        <span class="label label-info">{{i.blogType.name}}</span>&nbsp;&nbsp;&nbsp;
        <a class="title" href="#/home/blogDetail/{{i.id}}">{{i.title | limitTo:30}}</a>
        <span class="text-blue"><i class="fa fa-comments"></i>&nbsp;{{i.comments.length}}</span>&nbsp;&nbsp;&nbsp;
        <span class="text-blue"><i class="fa fa-eye"></i>&nbsp;{{i.click}}</span>
        <span class="pull-right">{{i.created | date:""}}</span>
    </li>
</ul>
<pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页"></pagination>
