<div class="row">
    <div class="col-md-6">
        <div class="cropArea">
            <img-crop image="myImage" result-image="myCroppedImage" area-type="circle" result-image-format="image/png" result-image-quality="0.7" result-image-size="150"></img-crop>
        </div>
        <div>选择图片:
            <input type="file" id="fileInput" />
        </div>
    </div>
    <div class="col-md-6">
        <div>预览:</div>
        <div><img ng-src="{{myCroppedImage}}" /></div>
        <button class="btn btn-primary" ng-click="upload()">上传</button>
    </div>
</div>
