<div class="container">
    <div class="row">
        <div class="col-lg-8" ui-view>
            <div class="widget" ng-init="getTag()">
                <ul class="tags tags2">
                    <li><a href="javascipt:void(0)" class="active" ng-click="getBlog('new')">最新</a></li>
                    <li><a href="javascipt:void(0)" ng-click="getBlog('hot')">热门</a></li>
                    <li ng-repeat="i in Tag"><a href='javascipt:void(0)' ng-click="getBlog(i.id)">{{i.name}}</a></li>
                </ul>
            </div>
            <article ng-repeat="i in Blog">
                <div class="post-quote">
                    <div class="post-heading">
                        <h3><a href="#/home/blogDetail/{{i.id}}">{{i.title}}</a></h3>
                    </div>
                    <blockquote ng-bind-html="i.content | htmlToPlaintext:50">
                        <i class="icon-quote-left"></i>
                    </blockquote>
                </div>
                <div class="bottom-article">
                    <ul class="meta-post">
                        <li><i class="icon-calendar"></i>{{i.created | date:'medium'}}</li>
                        <li><i class="icon-user"></i>{{!!i.user.username ? i.user.username:i.user.email}}</li>
                        <li><i class="icon-folder-open"></i><a href="javascipt:void(0)">{{i.blogType.name}}</a></li>
                        <li><i class="icon-comments"></i><a href="javascipt:void(0)">{{i.comments.length}}评论</a></li>
                    </ul>
                    <a href="#/blog/detail/{{i.id}}" class="pull-right">继续阅读<i class="icon-angle-right"></i></a>
                </div>
            </article>
            <label id="loading" class="label label-success">{{ none ? '没有更多了':'正在加载...'}}</label>
        </div>
        <div class="col-lg-4" ng-init="getBlog('new')">
            <aside class="right-sidebar">
                <div class="widget">
                    <form class="form-search">
                        <a class="btn btn-green animated infinite bounce" href="#/blog/add">发表博客</a>
                    </form>
                </div>
            </aside>
        </div>
    </div>
</div>
