<div class="col-md-6 col-md-offset-3" ng-controller="registerCtrl">
    <form name="form" class="form-horizontal" novalidate="novalidate" ng-submit="register()">
        <div class="form-group">
            <label for="recipient-name" class="control-label col-sm-3">邮箱:</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" ng-model="user.email" required>
            </div>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="control-label col-sm-3 ">密码:</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" ng-model="user.password" ng-minlength="6" ng-maxlength="16" required>
            </div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-green btn-submit">注册</button>
        </div>
    </form>
</div>
