//colors
$c_main: #59b0ff;
$c_green: #5bbf5a;
$c_grey: #edece4;
$c_l_grey: #f0f0ff;
a {
    color: $c_main;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: $c_main;
    }
    &.thumbnail:hover {
        border: 1px solid $c_main;
    }
}

footer {
    background: $c_main;
    a.text-link {
        color: $c_main;
        &:hover {
            color: $c_main;
        }
    }
}

strike {
    color: $c_main;
}

.post-meta {
    border-top: 4px solid $c_main;
    span a:hover {
        color: $c_main;
    }
    .comments a:hover {
        color: $c_main;
    }
}

ul {
    &.meta-post li a:hover {
        color: $c_main;
    }
    &.cat li a:hover {
        color: $c_main;
    }
    &.recent li h6 a:hover {
        color: $c_main;
    }
    &.portfolio-categ li {
        &.active a {
            color: $c_main;
            &:hover {
                color: $c_main;
            }
        }
        a:hover {
            color: $c_main;
        }
    }
    &.related-post li h4 a:hover {
        color: $c_main;
    }
    &.clients li:hover {
        border: 4px solid $c_main;
    }
}

.validation {
    color: $c_main;
}

.dropdown-menu {
    li {
        &:hover {
            background-color: $c_main;
        }
        a:hover {
            background-color: $c_main;
        }
        > a:focus {
            background-color: $c_main;
        }
    }
    > .active > a {
        color: $c_main;
        &:hover {
            color: $c_main;
        }
        &:focus {
            color: $c_main;
        }
    }
    .active > a {
        background-color: $c_main;
        &:hover {
            background-color: $c_main;
        }
    }
}

.custom-carousel-nav {
    &.right:hover {
        background-color: $c_main;
    }
    &.left:hover {
        background-color: $c_main;
    }
}

.breadcrumb {
    background-color: $c_main;
}

input[type='text'] {
    &:focus {
        border-color: $c_main;
    }
    &.search-form:focus {
        border: 1px solid $c_main;
    }
}

#sendmessage {
    color: $c_main;
}

.pullquote-left {
    border-left: 5px solid $c_main;
}

.pullquote-right {
    border-right: 5px solid $c_main;
}

.box-bottom {
    background: $c_main;
}

.btn-dark {
    &:hover {
        border: 1px solid $c_main;
        background: $c_main;
    }
    &:focus {
        border: 1px solid $c_main;
        background: $c_main;
    }
    &:active {
        border: 1px solid $c_main;
        background: $c_main;
    }
}

.btn-theme {
    border: 1px solid $c_main;
    background: $c_main;
}

.nivo-caption {
    border-bottom: $c_main 5px solid;
}

.caption {
    border-bottom: $c_main 5px solid;
}

#sub-footer {
    background: $c_main;
}

.weixin {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.tc {
    text-align: center;
}

span.highlight {
    color: $c_main;
}

article .post-heading h3 a:hover {
    color: $c_main;
}

.navbar .nav > {
    .active > a {
        color: $c_main;
        &:hover {
            color: $c_main;
        }
        &:focus {
            color: $c_main;
        }
    }
    li > a {
        &:hover {
            color: $c_main;
        }
        &:focus {
            color: $c_main;
        }
    }
}

.navbar-brand span {
    color: $c_main;
}

header .nav li {
    a {
        &:hover {
            color: $c_main;
        }
        &:focus {
            color: $c_main;
        }
        &.dropdown-toggle {
            &:hover {
                color: $c_main;
            }
            &:focus {
                color: $c_main;
            }
        }
    }
    &.active {
        a {
            color: $c_main;
            &:hover {
                color: $c_main;
            }
        }
        ul.dropdown-menu li {
            a:hover {
                color: $c_main;
            }
            &.active a {
                color: $c_main;
            }
        }
    }
}

.navbar-default .navbar-nav > {
    .active > a {
        color: $c_main;
        &:hover {
            color: $c_main;
        }
        &:focus {
            color: $c_main;
        }
    }
    .open > a {
        color: $c_main;
        &:hover {
            color: $c_main;
        }
        &:focus {
            color: $c_main;
        }
    }
}

.dropdown-submenu:hover > a {
    background-color: $c_main;
}

.pagination ul > {
    .active > {
        a {
            background-color: $c_main;
            &:hover {
                background-color: $c_main;
            }
        }
        span {
            background-color: $c_main;
        }
    }
    li.active > {
        a {
            border: 1px solid $c_main;
        }
        span {
            border: 1px solid $c_main;
        }
    }
}

.flex-control-nav li a {
    &:hover {
        background-color: $c_main;
    }
    &.active {
        background-color: $c_main;
    }
}

textarea:focus {
    border-color: $c_main;
}

input[type='password']:focus {
    border-color: $c_main;
}

input[type='datetime']:focus {
    border-color: $c_main;
}

input[type='datetime-local']:focus {
    border-color: $c_main;
}

input[type='date']:focus {
    border-color: $c_main;
}

input[type='month']:focus {
    border-color: $c_main;
}

input[type='time']:focus {
    border-color: $c_main;
}

input[type='week']:focus {
    border-color: $c_main;
}

input[type='number']:focus {
    border-color: $c_main;
}

input[type='email']:focus {
    border-color: $c_main;
}

input[type='url']:focus {
    border-color: $c_main;
}

input[type='search']:focus {
    border-color: $c_main;
}

input[type='tel']:focus {
    border-color: $c_main;
}

input[type='color']:focus {
    border-color: $c_main;
}

.uneditable-input:focus {
    border-color: $c_main;
}

input:focus {
    border-color: $c_main;
}

.cta-text h2 span {
    color: $c_main;
}

.modal.styled .modal-header {
    background-color: $c_main;
}

.widget ul.tags li a:hover {
    color: $c_main;
    border-color: $c_main;
    background: #fff;
}

.recent-post .text h5 a:hover {
    color: $c_main;
}

.pricing-box-alt.special .pricing-heading {
    background: $c_main;
}

.item-thumbs .hover-wrap .overlay-img-thumb {
    background: $c_main;
}

#pagination a:hover {
    background: $c_main;
}

.pricing-box.special .pricing-offer {
    background: $c_main;
}

.icon-square:hover {
    background-color: $c_main;
}

.icon-rounded:hover {
    background-color: $c_main;
}

.icon-circled:hover {
    background-color: $c_main;
}

[class^='icon-'].active {
    background-color: $c_main;
}

[class*=' icon-'].active {
    background-color: $c_main;
}

.fancybox-close:hover {
    background-color: $c_main;
}

.fancybox-nav:hover span {
    background-color: $c_main;
}

.da-slide .da-link:hover {
    border: 4px solid $c_main;
    background: $c_main;
}

.da-dots span {
    background: $c_main;
}

#featured .flexslider .slide-caption {
    border-left: 5px solid $c_main;
}

.nivo-directionNav a:hover {
    background-color: $c_main;
}

$white: #fff;
.ITNav .items {
    h4 {
        margin: 15px 0;
        text-align: center;
        color: $c_main;
    }
    img {
        margin: 10px 0;
    }
    p,
    img {
        max-width: 100%;
    }
    h4,
    p {
        word-break: break-all;
    }
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

textarea {
    width: 100%;
    min-height: 80px;
}

a:hover {
    cursor: pointer;
}

%item {
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid $c_grey;
    border-radius: 3px;
    .middle {
        padding: 10px 0;
    }
}

.comment {
    margin-top: 150px;
    padding: 10px;
    border: 1px solid $c_grey;
    .comment-content {
        .comment-item {
            @extend %item;
        }
    }
}

.reply {
    .reply-content {
        .reply-item {
            @extend %item;
        }
    }
}

.content {
    padding: 20px 0;
    background-color: $c_grey;
    .container {
        padding-top: 20px;
        border-radius: 5px;
    }
    article {
        padding: 20px;
        background: $white;
    }
}

.list {
    li {
        padding: 5px 0;
        border-bottom: 1px dashed $c_grey;
    }
    .title {
        display: inline-block;
        width: 60%;
    }
}

img-crop {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    canvas {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        // Disable Outline
        outline: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        /* mobile webkit */
    }
}

.cropArea {
    overflow: hidden;
    width: 300px;
    height: 200px;
}

.avatar {
    width: 230px;
    height: 230px;
    border-radius: 5px;
    &-s {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}

%navbar-a {
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);
}

header {
    .navbar {
        transition: 1s;
    }
    .navbar-t {
        background-color: transparent;
        .dropdown-menu {
            background-color: transparent;
        }
        .open a:focus,
        .open a:hover {
            background-color: transparent !important;
        }
        li.active a {
            background-color: transparent !important;
        }
        .nav li a {
            color: #fff;
        }
        .navbar-brand {
            color: #fff !important;
        }
    }
    .navbar-a1 {
        margin-top: 110px;
        @extend %navbar-a;
    }
    .navbar-a2 {
        @extend %navbar-a;
    }
}

.banner {
    width: 100%;
    min-height: 500px;
    margin-top: -110px;
    background: url(../img/home-bg.jpg) no-repeat;
    background-size: cover;
}

.b-search {
    h1 {
        margin-bottom: 50px;
        color: #fff;
    }
    input {
        width: 35%;
        height: 50px;
        padding-left: 20px;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: transparent;
    }
}

[class^='intr-'] {
    padding: 30px 0;
    .h2 {
        margin-bottom: 20px;
        color: $c_green;
    }
}

.intr-1 {
    background-color: #fff;
}

.intr-2 {
    background-color: $c_l_grey;
}

#loginRegister {
    form {
        margin-left: -55px;
    }
    .col-md-6 {
        padding: 0 5px;
    }
    .modal-body {
        padding: 50px 50px 20px 50px;
        h4 {
            margin-bottom: 30px;
            text-align: center;
        }
    }
}

.article {
    background: $c_grey !important;
    .left {
        img {
            width: 64px;
            height: 64px;
            margin-bottom: 20px;
        }
    }
    .right {
        max-width: 100%;
        padding: 20px 20px 0;
        border: 1px solid $c_grey;
        background: $white;
        [class*='col-sm-'] {
            padding: 5px 20px 5px 0;
        }
        .hide-list {
            clear: both;
            margin-right: -20px;
            margin-left: -20px;
            padding: 10px 20px;
            background: $c_l_grey;
            ul {
                margin: 0;
                li {
                    border-bottom: 1px solid $c_green;
                    &:last-child {
                        border: 0;
                    }
                }
            }
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
    h4 {
        margin-top: 0;
    }
    .thumb {
        float: left;
        width: 160px;
        height: 160px;
        margin-right: 20px;
    }
    .bottom {
        a,
        span {
            padding: 0 10px;
        }
        a span {
            padding: 0;
        }
    }
}

#loading {
    line-height: 50px;
    display: inline-block;
    height: 50px;
    padding: 0 30px;
}

.selectize-input {
    border: 0;
    &.focus {
        box-shadow: none;
    }
}

#User {
    background: #edece4;
}

.u-detail {
    position: relative;
    height: 130px;
    margin: 20px 0;
    a {
        color: $c_green;
    }
    .u-avatar {
        float: left;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    .u-info {
        float: right;
        width: 150px;
        padding-left: 10px;
        .i-bio {
            display: block;
            overflow: hidden;
            max-height: 45px;
        }
    }
    .u-extend {
        position: relative;
        position: absolute;
        z-index: 999;
        top: 110px;
        left: -60px;
        width: 250px;
        height: 150px;
        padding: 10px 20px;
        background: #fff;
        &:before {
            position: absolute;
            top: -25px;
            left: 50%;
            width: 0;
            height: 0;
            margin-left: -25px;
            content: ' ';
            border-width: 0 25px 25px;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
        }
    }
}

#searchPanel {
    background: #fff;
}

.avatar_ {
    &s {
        width: 25px;
        height: 25px;
        border-radius: 50%;
    }
}

#zhihu {}

.grid-item {
    width: 350px;
}

.grid-item--width2 {
    width: 400px;
}

.zhihu {
    margin: 0 10px 10px 0;
    background: #fff !important;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    blockquote {
        overflow: hidden;
        // max-height:455px;
    }
    .topic {
        a {
            margin-right: 5px;
        }
        height: 24px;
        overflow: hidden;
        padding: 1px;
    }
    h4 {
        height: 20px;
        overflow: hidden;
    }
    width:366px;
    &:hover {
        animation: pulse 0.5s;
    }
}

.items {
    padding: 5px 5px;
    .items-inner {
        padding: 5px;
        transition: all easeout .3;
        background: #fff;
        &:hover {
            box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
        }
    }
}
