//grid system
$grid-number:12;

@mixin grid-system($g-number){
	@for $i from 1 through $g-number{
		.grid-#{$i}{
			$size:percentage($i/$g-number);
			position:relative;
			display:block;
			max-width:$size;
			width:$size;
			float:left;
			box-sizing:border-box;
		}
	}
}

%clearfix{
	*zoom:1;
	&:before,
	&:after{
		display:table;
		content:"";
	}
	&:after{
		clear:both;
	}
}
@include grid-system($grid-number);

