.label,
.btn,
[class*='input'] {
    border-radius: 0;
}

[class*='col-xs-'],
[class*='col-sm-'],
[class*='col-md-'],
[class*='col-lg-'] {
    @media(max-width: $screen-sm-min) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@each $key,
$value in $colors {
    .label-#{$key}-o {
        color: $value;
        padding: 2px 5px;
        border: 1px solid $value;
        &[href] {
            &:hover,
            &:focus {
                color: lighten($value, 10%);
            }
        }
    }
    .text-#{$key} {
        color: $value;
        &:hover {
            color: $value;
        }
    }
    .btn-#{$key} {
        border: 1px solid $value;
        color: #fff !important;
        background: $value;
        transition: all .3s ease-out;
        &:hover,
        &:focus,
        &:active {
            // box-shadow: 1px 1px 1px #888888;
            // background: darken($value, 10%);
            color: #fff !important;
            // animation: bounce 0.5s;
        }
    }
    .btn-#{$key}-o {
        border: 1px solid #fff;
        color: $value;
        background: #fff;
        &:hover,
        &:focus,
        &:active {
            background: lighten(#fff, 10%);
            color: $value;
        }
    }
}

.hidden2 {
    display: none;
}

img {
    max-width: 100%;
}

.modal-content {
    border-radius: 0 !important;
}

img,
li,
a {}

i {
    font-style: normal;
}

.tooltip {
    .tooltip-inner {
        background: $brand-primary;
    }
    .tooltip-arrow {
        border-top-color: $brand-primary !important;
    }
}

//@extend-elements
//original selectors
//ul.inline > li, ol.inline > li
%extend_1 {
    display: inline-block;
    *display: inline;
    padding-right: 5px;
    padding-left: 5px;
    *zoom: 1;
}

//original selectors
//.dl-horizontal:before, .dl-horizontal:after
%extend_2 {
    display: table;
    line-height: 0;
    content: "";
}

//original selectors
//.btn-theme:hover, .btn-theme:focus, .btn-theme:active
%extend_3 {
    background: $c_dark;
    color: $white;
    border: 1px solid $c_dark;
}

//original selectors
//.navbar-inverse .navbar-inner, .navbar-inner
%extend_4 {
    position: relative;
    background-color: $color_woodsmoke_approx;
    background-image: none;
    background-repeat: none;
    border: none;
    border-top: 1px solid $color_heavy_metal_approx;
    border-bottom: 1px solid $color_cod_gray_approx;
    filter: none;
    *zoom: 1;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
}

//original selectors
//.navbar .nav > li > a:hover, .navbar .nav > li > a:focus
%extend_5 {
    color: $color_alto_approx;
    background-color: none;
    background-image: none;
    background-repeat: repeat-x;
    filter: none;
    text-decoration: none;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
}

//original selectors
//.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
%extend_6 {
    color: $white;
    background-image: none;
    filter: none;
    text-decoration: none;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
}

//original selectors
//.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .dropdown-menu .active > a, .dropdown-menu .active > a:hover
%extend_7 {
    color: $white;
    text-decoration: none;
    background-image: none;
    background-repeat: none;
    filter: none;
}

//original selectors
//.dropdown-menu .sub-menu-level1, .dropdown-menu .sub-menu-level2
%extend_8 {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: 0;
}

//original selectors
//.pagination ul > li > a, .pagination ul > li > span
%extend_9 {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: $wild_sand;
    border: 1px solid $color_pumice_approx;
    border-left-width: 0;
}

.widget {
    h4 {
        font-weight: 700;
        margin-bottom: 20px;
    }
    h5 {
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.img-polaroid {
    padding: 4px;
    background-color: $white;
    border: 1px solid $color_gray_nurse_approx;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
}

.img-rounded {}

code {}

pre {}

blockquote {
    margin: 0 0 20px;
}

label {
    font-size: 13px;
    font-weight: normal;
    font-weight: bold;
    color: $c_inverse;
}

input {
    font-size: 13px;
    font-weight: normal;
    font-family: $font_0, $font_1, $font_2;
    font-size: 13px;
    &.input-block-level {
        padding: 20px;
    }
    &.search-query {
        margin-bottom: 0;
    }
    &.input-n {
        border: 0;
        box-shadow: none;
        &:focus {
            box-shadow: none;
            border-color: transparent !important;
        }
    }
}

button {
    font-size: 13px;
    font-weight: normal;
    font-family: $font_0, $font_1, $font_2;
    font-size: 13px;
}

select {
    font-size: 13px;
    font-weight: normal;
    font-family: $font_0, $font_1, $font_2;
    font-size: 13px;
    font-size: 13px;
    line-height: 20px;
    background: $color_alabaster_approx;
    border-color: $color_mountain_mist_approx $color_mountain_mist_approx $color_nobel_approx;
    color: $color_mountain_mist_approx;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 1px 3px $color_pumice_approx;
}

textarea {
    font-size: 13px;
    font-weight: normal;
    font-family: $font_0, $font_1, $font_2;
    font-size: 13px;
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="text"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="password"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="datetime"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="datetime-local"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="date"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="month"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="time"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="week"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="number"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="email"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="url"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="search"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="tel"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

input[type="color"] {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

.uneditable-input {
    &:focus {
        outline: 0;
        outline: thin dotted \9;
    }
}

.input-append {
    input {
        + .btn-group .btn:last-child {}
    }
    select {
        + .btn-group .btn:last-child {}
    }
    .uneditable-input {
        + .btn-group .btn:last-child {}
    }
    .add-on:last-child {}
    .btn:last-child {}
    .btn-group:last-child > .dropdown-toggle {}
}

.input-prepend {
    input {}
    select {}
    .uneditable-input {}
    &.input-append {
        input {
            + .btn-group .btn {}
        }
        select {
            + .btn-group .btn {}
        }
        .uneditable-input {
            + .btn-group .btn {}
        }
        .add-on {
            &:first-child {
                margin-right: -1px;
            }
            &:last-child {
                margin-left: -1px;
            }
        }
        .btn {
            &:first-child {
                margin-right: -1px;
            }
            &:last-child {
                margin-left: -1px;
            }
        }
    }
    .add-on:first-child {}
    .btn:first-child {}
}

.form-search {
    .input-append {
        .search-query {}
        .btn {}
    }
    .input-prepend {
        .search-query {}
        .btn {}
    }
}

.table-bordered {
    thead {
        &:first-child tr:first-child > th {
            &:first-child {
                //Instead of the line below you could use @include border-top-left-radius($radius)
                border-top-left-radius: 2px;
            }
            &:last-child {
                //Instead of the line below you could use @include border-top-right-radius($radius)
                border-top-right-radius: 2px;
            }
        }
        &:last-child tr:last-child > th {
            &:first-child {
                //Instead of the line below you could use @include border-bottom-left-radius($radius)
                border-bottom-left-radius: 2px;
            }
            &:last-child {
                //Instead of the line below you could use @include border-bottom-right-radius($radius)
                border-bottom-right-radius: 2px;
            }
        }
    }
    tbody {
        &:first-child tr:first-child > td {
            &:first-child {
                //Instead of the line below you could use @include border-top-left-radius($radius)
                border-top-left-radius: 2px;
            }
            &:last-child {
                //Instead of the line below you could use @include border-top-right-radius($radius)
                border-top-right-radius: 2px;
            }
        }
        &:last-child tr:last-child > td {
            &:first-child {
                //Instead of the line below you could use @include border-bottom-left-radius($radius)
                border-bottom-left-radius: 2px;
            }
            &:last-child {
                //Instead of the line below you could use @include border-bottom-right-radius($radius)
                border-bottom-right-radius: 2px;
            }
        }
    }
    tfoot:last-child tr:last-child > td {
        &:first-child {
            //Instead of the line below you could use @include border-bottom-left-radius($radius)
            border-bottom-left-radius: 2px;
        }
        &:last-child {
            //Instead of the line below you could use @include border-bottom-right-radius($radius)
            border-bottom-right-radius: 2px;
        }
    }
    caption + {
        thead tr:first-child th {
            &:first-child {
                //Instead of the line below you could use @include border-top-left-radius($radius)
                border-top-left-radius: 2px;
            }
            &:last-child {
                //Instead of the line below you could use @include border-top-right-radius($radius)
                border-top-right-radius: 2px;
            }
        }
        tbody tr:first-child td {
            &:first-child {
                //Instead of the line below you could use @include border-top-left-radius($radius)
                border-top-left-radius: 2px;
            }
            &:last-child {
                //Instead of the line below you could use @include border-top-right-radius($radius)
                border-top-right-radius: 2px;
            }
        }
    }
    colgroup + {
        thead tr:first-child th {
            &:first-child {
                //Instead of the line below you could use @include border-top-left-radius($radius)
                border-top-left-radius: 2px;
            }
            &:last-child {
                //Instead of the line below you could use @include border-top-right-radius($radius)
                border-top-right-radius: 2px;
            }
        }
        tbody tr:first-child td {
            &:first-child {
                //Instead of the line below you could use @include border-top-left-radius($radius)
                border-top-left-radius: 2px;
            }
            &:last-child {
                //Instead of the line below you could use @include border-top-right-radius($radius)
                border-top-right-radius: 2px;
            }
        }
    }
}

.dropdown-menu {
    *border-right-width: 0;
    *border-bottom-width: 0;
    li {
        margin: 0;
        padding: 0;
        a {
            font-size: 12px;
            padding: 10px 15px;
            margin: 0;
            //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            text-shadow: none;
            border-bottom: 1px solid $color_mine_shaft_approx;
        }
        > a {
            &:hover {
                @extend %extend_7;
            }
            &:focus {
                @extend %extend_7;
            }
        }
        &:hover .sub-menu-level1 {
            visibility: visible;
        }
        li:hover .sub-menu-level2 {
            visibility: visible;
        }
    }
    .sub-menu-level1 {
        @extend %extend_8;
    }
    .sub-menu-level2 {
        @extend %extend_8;
    }
    .divider {
        *width: 100%;
        height: 1px;
        margin: 9px 1px;
        *margin: -5px 0 5px;
        overflow: hidden;
        background-color: $cod_gray;
        border-bottom: 1px solid $color_mine_shaft_approx;
    }
    .active > a {
        @extend %extend_7;
        &:hover {
            @extend %extend_7;
        }
    }
}

.dropdown-submenu {
    > .dropdown-menu {}
    &.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
    }
    &:hover > a {
        @extend %extend_7;
    }
}

.typeahead {
    z-index: 1051;
    margin-top: 2px;
}

ul {
    padding: 0;
    margin: 0 0 10px 25px;
    ul {
        margin-bottom: 0;
    }
    ol {
        margin-bottom: 0;
    }
    &.unstyled {
        margin-left: 0;
        list-style: none;
    }
    &.inline {
        margin-left: 0;
        list-style: none;
        > li {
            @extend %extend_1;
        }
    }
}

ol {
    padding: 0;
    margin: 0 0 10px 25px;
    ol {
        margin-bottom: 0;
    }
    ul {
        margin-bottom: 0;
    }
    &.unstyled {
        margin-left: 0;
        list-style: none;
    }
    &.inline {
        margin-left: 0;
        list-style: none;
        > li {
            @extend %extend_1;
        }
    }
}

li {
    line-height: 1.6em;
}

dl {
    margin-bottom: 20px;
}

dt {
    line-height: 1.6em;
    font-weight: 700;
}

dd {
    line-height: 1.6em;
    margin-left: 20px;
}

.dl-horizontal {
    *zoom: 1;
    &:before {
        @extend %extend_2;
    }
    &:after {
        @extend %extend_2;
        clear: both;
    }
    dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    dd {
        margin-left: 180px;
    }
}

.media {
    margin-top: 0;
    margin-bottom: 30px;
    .media {
        margin-top: 30px;
        margin-bottom: 0;
    }
}

.media-body {
    position: relative;
}

.well {}

.well-large {}

.well-small {}

.btn {
    font-size: 12px;
    text-transform: uppercase;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none;
    background-image: none;
    border-color: none;
    border-bottom-color: none;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    outline: 0;
    &:focus {
        outline: 0;
    }
    &.plain {
        display: inline-block;
        *display: inline;
        padding: 4px 12px;
        margin-bottom: 0;
        *margin-left: .3em;
        font-size: 13px;
        line-height: 20px;
        color: $color_mine_shaft_approx;
        text-align: center;
        //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        text-shadow: none;
        vertical-align: middle;
        cursor: pointer;
        background-color: $color_wild_sand_approx;
        *background-color: $color_mercury_approx;
        background-image: none;
        border: none;
        *border: 0;
        border-color: none;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: none;
    }
}

.btn-medium {
    padding: 6px 15px;
    font-size: 13px;
    &.btn-mini {}
    &.btn-small {}
    &.btn-rounded {}
}

.btn-large {
    font-size: 14px;
    &.btn-rounded {}
}

.btn-small {
    font-size: 11px;
}

.btn-mini {
    font-size: 10px;
}

.btn-square {}

.btn-rounded {}

.alert {}

.nav-tabs {
    border-bottom: none;
    margin: 0;
    > {
        li > a {
            margin-right: -1px;
            outline: 0;
            font-size: 13px;
            font-weight: 600;
        }
        .active > a {
            background: $white;
            &:hover {
                background: $white;
            }
            &:focus {
                background: $white;
            }
        }
    }
    .dropdown-menu {}
    &.nav-stacked > li {
        &:first-child > a {
            //Instead of the line below you could use @include border-top-right-radius($radius)
            border-top-right-radius: 2px;
            //Instead of the line below you could use @include border-top-left-radius($radius)
            border-top-left-radius: 2px;
        }
        &:last-child > a {
            //Instead of the line below you could use @include border-bottom-right-radius($radius)
            border-bottom-right-radius: 2px;
            //Instead of the line below you could use @include border-bottom-left-radius($radius)
            border-bottom-left-radius: 2px;
        }
    }
}

.nav-pills {
    .dropdown-menu {}
    > li > a {}
}

.tabs-left {
    .nav-tabs {
        margin-right: 0;
        border: none;
    }
    > .nav-tabs > li > a {}
}

.tabs-right {
    .nav-tabs {
        margin-left: 0;
        border: none;
        li a {
            display: block;
            margin: 0;
            padding: 15px 0 15px 20px;
            margin-left: -1px;
        }
    }
    > .nav-tabs > li > a {
        margin-left: -1px;
    }
}

.navbar-inner {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    background-color: none;
    background-image: none;
    background-repeat: none;
    border: none;
    border-top: 1px solid $color_heavy_metal_approx;
    filter: none;
    *zoom: 1;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    @extend %extend_4;
}

.navbar {
    .nav {
        border-right: none;
        border-left: none;
        > {
            li > {
                a {
                    float: none;
                    font-size: 13px;
                    padding: 10px 0;
                    margin-left: 20px;
                    margin-right: 0;
                    color: $color_mountain_mist_approx;
                    text-decoration: none;
                    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                    text-shadow: none;
                    border-right: none;
                    border-left: none;
                    &:hover {
                        @extend %extend_5;
                    }
                    &:focus {
                        @extend %extend_5;
                    }
                }
                .dropdown-menu.pull-right .dropdown-menu {}
            }
            .active > a {
                @extend %extend_6;
                &:hover {
                    @extend %extend_6;
                }
                &:focus {
                    @extend %extend_6;
                }
            }
        }
    }
    .btn-navbar {
        position: absolute;
        z-index: 99999;
        left: 0;
    }
    .pull-right > li > .dropdown-menu .dropdown-menu {}
}

.nav-header {
    display: block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    color: $white;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none;
    text-transform: uppercase;
}

.breadcrumb {
    float: left;
    padding: 10px 20px;
    margin: 0;
    list-style: none;
    background: none;
    > {
        li {
            display: inline-block;
            *display: inline;
            //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
            text-shadow: none;
            font-size: 12px;
            *zoom: 1;
            margin: 0;
        }
        .active {
            color: $color_boulder_approx;
        }
    }
}

.pagination-right {
    float: right;
}

.modal {}

.modal-header {}

.modal-title {}

.modal-footer {}

.tooltip-inner {}

.popover {}

.popover-title {}

.thumbnail {
    background: $color_alabaster_approx;
    border: 1px solid $color_quill_gray_approx;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    p {
        padding: 0 10px;
    }
    h1 {
        padding: 0 10px;
        margin: 10px 0;
    }
    h2 {
        padding: 0 10px;
        margin: 10px 0;
    }
    h3 {
        padding: 0 10px;
        margin: 10px 0;
    }
    h4 {
        padding: 0 10px;
        margin: 10px 0;
    }
    h5 {
        padding: 0 10px;
        margin: 10px 0;
    }
    h6 {
        padding: 0 10px;
        margin: 10px 0;
    }
}

.badge {
    padding: 5px 10px;
}

.progress {}

.bar {
    &.bar90 {
        width: 90%;
    }
    &.bar85 {
        width: 85%;
    }
    &.bar80 {
        width: 80%;
    }
    &.bar75 {
        width: 75%;
    }
    &.bar70 {
        width: 70%;
    }
    &.bar65 {
        width: 65%;
    }
    &.bar60 {
        width: 60%;
    }
    &.bar55 {
        width: 55%;
    }
    &.bar50 {
        width: 50%;
    }
    &.bar45 {
        width: 45%;
    }
    &.bar40 {
        width: 40%;
    }
    &.bar35 {
        width: 35%;
    }
    &.bar30 {
        width: 30%;
    }
    &.bar25 {
        width: 25%;
    }
    &.bar20 {
        width: 20%;
    }
    &.bar15 {
        width: 15%;
    }
    &.bar10 {
        width: 10%;
    }
}

.accordion-group {
    background: none;
    border: none;
    margin-bottom: 5px;
}

.accordion-heading {
    font-size: 13px;
    color: $color_mine_shaft_approx;
    //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none;
    background-color: $color_alabaster_approx;
    *background-color: $color_alabaster_approx;
    background-image: none;
    background-repeat: repeat-x;
    border: 1px solid $color_gray_nurse_approx;
    *border: 0;
    border-color: none;
    a {
        color: $color_mine_shaft_approx;
        font-weight: 600;
        outline: 0;
        &:hover {
            text-decoration: none;
        }
        &.active {
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.accordion-inner {
    margin-top: 1px;
    background: $white;
    border: 1px solid $color_gray_nurse_approx;
    border-bottom: 1px solid $color_gray_nurse_approx;
}

.carousel-control {}

.hero-unit {}

.img-circle.bordered {
    background-color: $white;
    border: 1px solid $color_gray_nurse_approx;
}

.dropup .dropdown-submenu > .dropdown-menu {}

a.btn {
    outline: 0;
}

.btn-group > {
    .btn {
        &:first-child {
            //Instead of the line below you could use @include border-bottom-left-radius($radius)
            border-bottom-left-radius: 2px;
            //Instead of the line below you could use @include border-top-left-radius($radius)
            border-top-left-radius: 2px;
        }
        &:last-child {
            //Instead of the line below you could use @include border-top-right-radius($radius)
            border-top-right-radius: 2px;
            //Instead of the line below you could use @include border-bottom-right-radius($radius)
            border-bottom-right-radius: 2px;
        }
        &.large {
            &:first-child {
                margin-left: 0;
                //Instead of the line below you could use @include border-bottom-left-radius($radius)
                border-bottom-left-radius: 2px;
                //Instead of the line below you could use @include border-top-left-radius($radius)
                border-top-left-radius: 2px;
            }
            &:last-child {
                //Instead of the line below you could use @include border-top-right-radius($radius)
                border-top-right-radius: 2px;
                //Instead of the line below you could use @include border-bottom-right-radius($radius)
                border-bottom-right-radius: 2px;
            }
        }
    }
    .dropdown-toggle {
        //Instead of the line below you could use @include border-top-right-radius($radius)
        border-top-right-radius: 2px;
        //Instead of the line below you could use @include border-bottom-right-radius($radius)
        border-bottom-right-radius: 2px;
    }
    .large.dropdown-toggle {
        //Instead of the line below you could use @include border-top-right-radius($radius)
        border-top-right-radius: 2px;
        //Instead of the line below you could use @include border-bottom-right-radius($radius)
        border-bottom-right-radius: 2px;
    }
}

.btn-group-vertical > {
    .btn {
        &:first-child {}
        &:last-child {}
    }
    .btn-large {
        &:first-child {}
        &:last-child {}
    }
}

#content a.btn-dark:hover {
    color: $white;
}

.tabs-below > .nav-tabs > li > a {}

.navbar-inverse .navbar-inner {
    @extend %extend_4;
}

.navbar-search .search-query {}

.nav-collapse .nav > li > .dropdown-menu {
    &:before {
        display: none;
    }
    &:after {
        display: none;
    }
}

.pagination ul {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: none;
    > {
        li {
            > {
                a {
                    @extend %extend_9;
                    &:hover {
                        background: $color_cararra_approx;
                    }
                }
                span {
                    @extend %extend_9;
                }
            }
            &:first-child > {
                a {
                    //Instead of the line below you could use @include border-bottom-left-radius($radius)
                    border-bottom-left-radius: 2px;
                    //Instead of the line below you could use @include border-top-left-radius($radius)
                    border-top-left-radius: 2px;
                }
                span {
                    //Instead of the line below you could use @include border-bottom-left-radius($radius)
                    border-bottom-left-radius: 2px;
                    //Instead of the line below you could use @include border-top-left-radius($radius)
                    border-top-left-radius: 2px;
                }
            }
            &:last-child > {
                a {
                    //Instead of the line below you could use @include border-top-right-radius($radius)
                    border-top-right-radius: 2px;
                    //Instead of the line below you could use @include border-bottom-right-radius($radius)
                    border-bottom-right-radius: 2px;
                }
                span {
                    //Instead of the line below you could use @include border-top-right-radius($radius)
                    border-top-right-radius: 2px;
                    //Instead of the line below you could use @include border-bottom-right-radius($radius)
                    border-bottom-right-radius: 2px;
                }
            }
        }
        .active > {
            a {
                color: $white;
                cursor: default;
            }
            span {
                color: $white;
                cursor: default;
            }
        }
    }
}

.pagination-large ul > li {
    &:first-child > {
        a {
            //Instead of the line below you could use @include border-bottom-left-radius($radius)
            border-bottom-left-radius: 2px;
            //Instead of the line below you could use @include border-top-left-radius($radius)
            border-top-left-radius: 2px;
        }
        span {
            //Instead of the line below you could use @include border-bottom-left-radius($radius)
            border-bottom-left-radius: 2px;
            //Instead of the line below you could use @include border-top-left-radius($radius)
            border-top-left-radius: 2px;
        }
    }
    &:last-child > {
        a {
            //Instead of the line below you could use @include border-top-right-radius($radius)
            border-top-right-radius: 2px;
            //Instead of the line below you could use @include border-bottom-right-radius($radius)
            border-bottom-right-radius: 2px;
        }
        span {
            //Instead of the line below you could use @include border-top-right-radius($radius)
            border-top-right-radius: 2px;
            //Instead of the line below you could use @include border-bottom-right-radius($radius)
            border-bottom-right-radius: 2px;
        }
    }
}

.pagination-mini ul > li {
    &:first-child > {
        a {
            //Instead of the line below you could use @include border-bottom-left-radius($radius)
            border-bottom-left-radius: 2px;
            //Instead of the line below you could use @include border-top-left-radius($radius)
            border-top-left-radius: 2px;
        }
        span {
            //Instead of the line below you could use @include border-bottom-left-radius($radius)
            border-bottom-left-radius: 2px;
            //Instead of the line below you could use @include border-top-left-radius($radius)
            border-top-left-radius: 2px;
        }
    }
    &:last-child > {
        a {
            //Instead of the line below you could use @include border-top-right-radius($radius)
            border-top-right-radius: 2px;
            //Instead of the line below you could use @include border-bottom-right-radius($radius)
            border-bottom-right-radius: 2px;
        }
        span {
            //Instead of the line below you could use @include border-top-right-radius($radius)
            border-top-right-radius: 2px;
            //Instead of the line below you could use @include border-bottom-right-radius($radius)
            border-bottom-right-radius: 2px;
        }
    }
}

.pagination-small ul > li {
    &:first-child > {
        a {
            //Instead of the line below you could use @include border-bottom-left-radius($radius)
            border-bottom-left-radius: 2px;
            //Instead of the line below you could use @include border-top-left-radius($radius)
            border-top-left-radius: 2px;
        }
        span {
            //Instead of the line below you could use @include border-bottom-left-radius($radius)
            border-bottom-left-radius: 2px;
            //Instead of the line below you could use @include border-top-left-radius($radius)
            border-top-left-radius: 2px;
        }
    }
    &:last-child > {
        a {
            //Instead of the line below you could use @include border-top-right-radius($radius)
            border-top-right-radius: 2px;
            //Instead of the line below you could use @include border-bottom-right-radius($radius)
            border-bottom-right-radius: 2px;
        }
        span {
            //Instead of the line below you could use @include border-top-right-radius($radius)
            border-top-right-radius: 2px;
            //Instead of the line below you could use @include border-bottom-right-radius($radius)
            border-bottom-right-radius: 2px;
        }
    }
}

.pager li > {
    a {}
    span {}
}

.tab-content > .tab-pane {
    background: $white;
    border: 1px solid $color_gray_nurse_approx;
    padding: 20px;
    overflow: hidden;
}

.onsidebar > .tab-pane {
    background: none;
    border: none;
    border-bottom: none;
    padding: 0;
}
