/*
author:mcgrady sun
time:15.7.18
*/

//import
@import 'grid';
//global definition
$c_blue: #4285f4;
$c_d_blue: #0071c6;
$c_l_green: #07b0b5;
$c_grey: #aaa;
$c_yellow: #fec000;
$c_l_grey: #f5f5f5;
$c_dark: #000;
//mixin
@mixin b-hollow($color) {
    display: inline-block;
    padding: 8px 15px;
    text-align: center;
    color: $c_dark;
    border: 1px solid $color;
    border-radius: 5px !important;
    background: #fff;
    &:hover {
        text-decoration: none;
    }
}

@mixin b($color) {
    display: inline-block;
    padding: 8px 15px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px !important;
    background-color: $color;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

@mixin select($width, $height) {
    width: $width;
    height: $height;
    padding-left: 15px;
    background-color: #fff;
}

//extend;
%title {
    font-size: 16px !important;
    font-weight: 100;
}

%tc {
    text-align: center;
}

%border {
    border: 1px solid $c_grey;
}

//yingyong
.b-h-blue {
    min-width: 100px;
    display:block !important;
    margin-left:auto;
    margin-right:auto;
    @include b($c_blue);
}
.b-blue {
    margin-right:15px;
   @include b-hollow($c_blue);
}
#transferModal {
    @extend %title;
    select {
        @include select(100%, 40px);
    }
    input {
        height: 40px;
        padding-left: 45px;
        @extend %border;
    }
    .cash {
        position: relative;
        span {
            line-height: 40px;
            position: absolute;
            left: 25px;
            color: $c_d_blue;
        }
    }
    .control-label {
        color: $c_grey;
    }
    .modal-header {
        padding-left: 30px;
    }
    .modal-content {
        border-radius: 5px !important;
    }
    .modal-body {
        padding: 25px 40px 10px 40px;
        .form-group {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
    .submit {
        @extend %tc;
        button {
            min-width: 240px;
            padding: 10px;
            background-color: $c_blue;
            @extend %title;
        }
    }
}

//layout
.top,
.middle,
.intro,
.ibanner,
.icontent {
    @extend %clearfix;
}

.top {
    padding: 10px 0;
}

.intro {
    width: 940px;
    margin-left: 115px;
    table,
    table th,
    table td {
        text-align: center;
        vertical-align: middle !important;
    }
    .ibanner {
        .itop {
            img {
                width: 940px;
            }
        }
        .ibottom {
            padding-top: 20px;
            background-color: $c_l_grey;
            @extend %clearfix;
            .grid-4 {
                text-align: center;
                img {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .text1 {
        font-weight: 900;
    }
    .text2 {
        color: $c_grey;
    }
    .icontent {
        > div:first-child {
            margin-top: 20px;
        }
        > div {
            margin: 0 10px;
            padding: 10px 0;
        }
        h4 {
            color: $c_blue;
        }
    }
}

.accept {
    padding: 50px;
    text-align: center;
    button {
        min-width: 150px;
    }
}

.cd-faq {
    margin-left: -27px;
    padding-top: 15px;
    li{
        padding:7px 0;
        div{
            padding-top:7px;
        }
    }
}

.termsModel {
    .modal-dialog {
        width: 980px;
        margin: 50px auto;
    }
    .modal-body {
        overflow: scroll;
    }
}
#notActive{
    margin-top:50px;
    .modal-content{
        padding:50px 20px;
    }
}
