//colors
$black_80: rgba(0, 0, 0, .8);
$white: #fff;
$color_storm_dust_approx: #666;
$black_50: rgba(0, 0, 0, 0.5);
$black_30: rgba(0, 0, 0, 0.3);
$color_mine_shaft_approx: #333;
$black_70: rgba(0, 0, 0, 0.7);
$black: #000;
$black_90: rgba(0, 0, 0, 0.9);
//urls
$url_0: url(../img/bg_direction_nav.png);
//@extend-elements
//original selectors
//.slides, .flex-control-nav, .flex-direction-nav
%extend_1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexslider {
    margin: 0;
    padding: 0;
    background: none;
    position: relative;
    zoom: 1;
    a {
        &:active {
            outline: none;
        }
        &:focus {
            outline: none;
        }
    }
    .slides {
        zoom: 1;
        img {
            width: 100%;
            display: block;
        }
        > li {
            display: none;
        }
    }
    &:hover {
        .flex-next {
            opacity: 0.8;
            right: 5px;
            &:hover {
                opacity: 1;
            }
        }
        .flex-prev {
            opacity: 0.8;
            left: 5px;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.slides {
    @extend %extend_1;
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}

.flex-control-nav {
    @extend %extend_1;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    li {
        margin: 0 6px;
        display: inline-block;
        zoom: 1;
        *display: inline;
    }
}

.flex-direction-nav {
    @extend %extend_1;
    *height: 0;
    a {
        width: 30px;
        height: 40px;
        margin: 0;
        display: block;
        background: $url_0 no-repeat 0 0;
        position: absolute;
        top: 45%;
        z-index: 10;
        cursor: pointer;
        text-indent: -9999px;
        opacity: 0;
    }
    .flex-next {
        background-position: 100% 0;
        right: -36px;
    }
    .flex-prev {
        left: -36px;
    }
    .flex-disabled {
        opacity: .3!important;
        filter: alpha(opacity=30);
        cursor: default;
    }
}

.flex-viewport {
    max-height: 2000px;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: all 1s ease;
}

.flex-caption {
    background: $black_80;
    margin-left: 5px;
    bottom: 5px;
    position: absolute;
    padding: 20px;
    z-index: 99;
    p {
        font-size: 14px !important;
        line-height: 22px;
        font-weight: 300;
        color: $white;
    }
    h2 {
        color: $white;
    }
    h4 {
        color: $white;
    }
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
    li {
        width: 25%;
        float: left;
        margin: 0;
    }
    img {
        width: 100%;
        display: block;
        opacity: .7;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    .flex-active {
        opacity: 1;
        cursor: default;
    }
}

@media screen and(max-width: 860px) {
    .flex-direction-nav {
        .flex-prev {
            opacity: 1;
            left: 0;
        }
        .flex-next {
            opacity: 1;
            right: 0;
        }
    }
}

.flex-container a {
    &:active {
        outline: none;
    }
    &:focus {
        outline: none;
    }
}

.flex-pauseplay span {
    text-transform: capitalize;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.no-js .slides > li:first-child {
    display: block;
}

.loading .flex-viewport {
    max-height: 300px;
}

.carousel li {
    margin-right: 5px;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: $color_storm_dust_approx;
    background: $black_50;
    cursor: pointer;
    text-indent: -9999px;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 20px;
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 0 3px $black_30;
    &:hover {
        background: $color_mine_shaft_approx;
        background: $black_70;
    }
    &.flex-active {
        background: $black;
        background: $black_90;
        cursor: default;
    }
}
