<div class="container">
    <div class="row">
        <div class="col-lg-12" ng-init="getNav();getNavType()">
            <ul class="portfolio-categ filter">
                <li class="all active"><a href="javascipt:void(0)" ng-click="id=''">所有</a></li>
                <li ng-repeat="i in NavType"><a href="javascipt:void(0)" title="{{i.name}}" ng-click="change(i.id)">{{i.name}}</a></li>
                <li>
                    <a class="btn btn-green" href='#/nav.add'>添加网站</a>
                </li>
            </ul>
            <div class="clearfix">
            </div>
            <div class="row">
                <section id="projects">
                    <ul id="thumbs" class="portfolio ITNav">
                        <li class="items col-lg-3" ng-repeat="i in Nav | filter:id">
                            <h4>{{i.name}}</h4>
                            <a ng-href="{{i.url}}" target="_blank"><img ng-src="{{i.img}}" alt="{{i.name}}" onError="this.src='/img/works/6.jpg'">
                            </a>
                            <p class="describe">{{i.describe}}</p>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>
