<div class="container">
  <div class="row" ng-init="getNav('all')">
    <div class="col-md-12 col-xs-12">
      <ul class="portfolio-categ filter">
        <li class="all active"><a href="javascipt:void(0)" ng-click="getNav('all')">所有</a></li>
        <li ng-repeat="i in tag"><a href="javascipt:void(0)" title="{{i.name}}" ng-click="getNav(i.id)">{{i.name}}</a></li>
        <li>
          <a class="btn btn-primary" href='/nav.add'>添加网站</a>
        </li>
      </ul>
      <div class="clearfix">
      </div>
      <section id="projects">
        <ul id="Nav" class="portfolio ITNav list-unstyled">
          <li class="items col-lg-3" ng-repeat="i in Nav">
            <div class="items-inner">
              <h4>{{i.name}}</h4>
              <a ng-href="{{i.url}}" target="_blank"><img ng-src="{{i.img}}" alt="{{i.name}}" onError="this.src='/img/home-bg.jpg'">
              </a>
              <p class="describe" title="{{i.describe}}">{{i.describe}}</p>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
  <progress></progress>
</div>
